/* Subscribe button styles Rules */
.subscribe-button {
background-color: blue;
color: white;
padding: 5px 10px;
}


.subscribe-button:hover {
background-color: darkblue;
}
/* Rule for dark theme style */
body {
background-color: black;
color: lightgray;
margin-top: 20px; /* Added a margin */
}

/*footer widget styles */
.footer-widgets-container {
align-items: flex-start;
}
.footer-widgets-container {
max-width: 800px;
}